.Button {
    width: 100px;
    height: 70px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #61dafb;
    }
}
